body{color:darkblue;
font-family: Verdana, Arial, sans-serif
font-size: 20px;
text-align: center;
text-shadow: 2px 1px 10px black;
background-color:coral
background-image: url(background.jpg);

}